@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  @media (max-height: 780px) {
    .short-screen\:hidden {
      display: none !important;
    }
  }
}
